{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {% for type in types %}
        <a href="{{ path('type', {type_slug : type.typeslug}) }}">{{ type.description }}</a><br>
    {% endfor %}
{% endblock %}
