{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
   <a href="{{ path('type', {type_slug : category.type.typeslug}) }}"> return to {{ category.type.description }}</a><br><br>
    {{ category }}<br><br>
    {% for product in category.products %}
        <a href="{{ path('product', {type_slug : category.type.typeslug, category_slug : category.categoryslug, product_slug : product.productslug}) }}">{{ product.title }}</a><br><br>
    {% endfor %}
{% endblock %}
