{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
    <a href="{{ path('category', {type_slug : product.category.type.typeslug, category_slug : product.category.categoryslug}) }}"> return to {{ product.category.description }}</a><br><br>
    {{ product }}
{% endblock %}
