{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}

    {{ type }}<br><br>
    {% for category in type.categories %}
        <a href="{{ path('category', {type_slug : type.typeslug, category_slug : category.categoryslug}) }}">{{ category }}</a><br><br>
    {% endfor %}
{% endblock %}
